p {
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

/* main要素以外を非表示にするスタイル */
body > :not(main) {
    display: none;
}

#output {
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    padding-left: 0px;
}

#output li {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: rgb(190, 215, 236);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 10px; */
    /* margin-bottom: 1px; */
    /* margin-right: 20px; */
    font-size: 12px;
    list-style-type: none!important;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    /* border: 10px solid rgb(161, 160, 160); */
    /* border-width: 2px; */
    /* border-radius: 5px; */
    padding: 0;
    margin: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.767);    
    z-index: 999;
}

#title {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

fieldset {
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#send {
    color: rgb(68, 70, 69);
    font-size: 20px;
    padding-left: 5px;
}

#send:hover {
    cursor: pointer; 
}

#text {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 0px; */
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(161, 160, 160);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
  /* その他のスタイルは省略 */
    /* min-height: 10px; 最小の高さ */
    overflow: hidden; /* スクロールバーを非表示 */
    resize: none;  /*ユーザーがリサイズできないようにする*/
    white-space: pre-wrap; テキスト内の改行を維持
    z-index: 999;
}

#text:hover {
    height: 20px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgb(161, 160, 160);
    padding-left: 10px;
    z-index: 999;
}

#time {
    display: flex;
    justify-content: end;
    flex-direction: column;
    font-size: 10px;
}

#li-box {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-right: 10px;
}

#o-box {
    display: flex;
    align-items: start;
    justify-content: end;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    width: auto;
    display: flex;
}

img {
    width: 30px;
    height: 30px;
    padding-top: 15px;
    /* margin-top: 5px; */
}

section {
    z-index: 999;
}
